{% for host in groups ['all'] %}
ipv4 address {{ hostvars['host']['ansible_facts']['default_ipv4']['address'] }} domain name {{ hostvars['host']['ansible_facts']['fqdn'] }} hostname of systemc {{ hostvars['host']['ansible_facts']['hostname'] }}
{% endfor %}
