version4 address {{ ansible_default_ipv4.address }} and network version4 address {{ ansible_default_ipv4.network }} and {{ ansible_hostname }} ansible os on host {{ ansible_distribution }} and version {{ ansible_distribution_version }}
